---
import Authorcard from "@components/authorcard.astro";
import Container from "@components/container.astro";
import Label from "@components/ui/label.astro";
import authors from "@data/authors.json";
import categories from "@data/categories.json";
import Layout from "@layouts/Layout.astro";
import { getFormattedDate } from "@utils/all";
import { type CollectionEntry, getCollection } from "astro:content";

import type { Props as Author } from "@data/author-types";
import type { Props as Category } from "@data/category-types";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content, remarkPluginFrontmatter } = await post.render();

const author = authors.find((item) => item.slug === post.data.author) as Author;
const category = categories.find(
  (item) => item.slug === post.data.category
) as Category;
---

<Layout
  title={post.data.title}
  desc={post.data.excerpt}
  ogimage={post.data.image}
  frontmatter={post.data}
  type="article">
  <Container>
    <div class="max-w-screen-md mx-auto">
      <div class="text-center">
        <a
          href={`/category/${category.slug}`}
          title="View all posts in this category">
          <Label theme={category.color}>{category.title}</Label>
        </a>
      </div>

      <h1
        class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl dark:text-white">
        {post.data.title}
      </h1>

      <div class="flex justify-center mt-3 space-x-3 text-zinc-500">
        <div class="flex items-center gap-3">
          <div class="relative flex-shrink-0 w-10 h-10">
            {
              author.image && (
                <Image
                  src={author.image}
                  width={40}
                  height={40}
                  alt={author.name}
                  loading="eager"
                  class="w-full h-full object-cover rounded-full"
                  title={author.name}
                />
              )
            }
          </div>

          <div>
            <a
              href={`/author/${author.slug}`}
              title={`View all posts by ${author.name}`}>
              <p class="text-zinc-800 dark:text-zinc-400 hover:underline">
                {author.name}
              </p>
            </a>
            <div class="flex items-center space-x-2 text-sm">
              <time
                class="text-zinc-500 dark:text-zinc-400"
                datetime={post.data.publishDate}>
                {getFormattedDate(post.data.publishDate)}
              </time>
              <span>
                · {Math.round(remarkPluginFrontmatter?.estReadingTime) || "5"} min
                read
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>

  <div
    class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    {
      post.data.image && (
        <Image
          src={post.data.image}
          width={1024}
          height={576}
          alt={post.data.title}
          loading="eager"
          class="w-full"
          title={post.data.title}
        />
      )
    }
  </div>

  <Container>
    <article class="max-w-screen-md mx-auto">
      <div
        class="mx-auto my-3 prose prose-base dark:prose-invert prose-a:text-blue-600">
        <Content />

        <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
          {
            post.data.tags.map((tag) => (
              <span class="text-sm text-zinc-500">
                <strong>#{tag}</strong>
              </span>
            ))
          }
        </div>
      </div>

      <div class="flex justify-center mt-7 mb-7">
        <a
          href="/blog"
          class="px-5 py-3 text-sm text-blue-600 transition rounded-md dark:text-purple-500 dark:bg-purple-50 bg-blue-50 hover:bg-blue-200 dark:hover:bg-purple-200"
          title="View all posts">
          ← View all posts
        </a>
      </div>
      {author && <Authorcard author={author} />}
    </article>
  </Container>
</Layout>
