---
import Container from "@components/container.astro";
import Postlist from "@components/postlist.astro";
import Link from "@components/ui/link.astro";
import CategoryPosts from "@components/categoryposts.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
import profileImage from "/public/authors/stefan.webp";
import categories from "@data/categories.json";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<Layout
  title="Home"
  desc="Welcome to Codingly blog. I'm Stefan, a web developer enthusiast and photographer.">
  <Container>
    <header>
      <div
        class="mb-14 flex flex-col items-center justify-between gap-10 lg:flex-row">
        <div
          class="flex flex-col items-start w-full lg:w-1/2 max-lg:items-center">
          <h1
            class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl dark:text-white">
            Hi, I'm Stefan.
          </h1>
          <p
            class="text-lg text-zinc-500 dark:text-zinc-400 text-center md:px-10 lg:text-left lg:px-0">
            Welcome to my blog. I'm a web developer enthusiast and photographer.
          </p>
          <nav
            class="flex flex-col gap-5 mt-5 w-full items-center sm:w-auto lg:flex-row lg:justify-center lg:gap-3"
            aria-label="Call to action Navigation">
            <Link
              href="/blog"
              class="w-full sm:w-auto flex items-center justify-center space-x-1.5">
              <Icon name="mdi:post" class="dark:text-zinc-800 text-zinc-100" />
              <span>Blog</span>
            </Link>
            <Link
              href="/about"
              style="outline"
              class="w-full sm:w-auto flex items-center justify-center space-x-1">
              <Icon
                name="mdi:account"
                class="dark:text-zinc-100 text-zinc-800"
              />
              <span>About</span>
            </Link>
            <Link
              href="https://github.com/stekatag"
              target="_blank"
              style="outline"
              class="w-full sm:w-auto flex items-center justify-center space-x-1.5">
              <Icon
                name="mdi:github"
                class="dark:text-zinc-100 text-zinc-800"
              />
              <span>Github</span>
            </Link>
          </nav>
        </div>

        <figure>
          <Image
            src={profileImage}
            alt="Stefan Gogov"
            width={300}
            height={300}
            title="Stefan Gogov"
            loading="eager"
            class="rounded-full shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]"
          />
        </figure>
      </div>
    </header>

    <main>
      <section aria-labelledby="latest-posts">
        <h2
          class="text-2xl pt-7 font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-3xl dark:text-white">
          Latest posts
        </h2>
        <div class="grid gap-10 pt-7 lg:gap-10 md:grid-cols-2">
          {
            latestPosts
              .slice(0, 2)
              .map((post) => (
                <Postlist post={post} aspect="landscape" preloadImage={true} />
              ))
          }
        </div>
        <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
          {
            latestPosts
              .slice(2, 5)
              .map((post) => <Postlist post={post} aspect="square" />)
          }
        </div>

        <div class="flex justify-center mt-7 mb-7">
          <a
            href="/blog"
            class="px-5 py-3 text-sm text-blue-600 transition rounded-md dark:text-purple-500 dark:bg-purple-50 bg-blue-50 hover:bg-blue-200 dark:hover:bg-purple-200"
            title="View all posts">
            ← View all posts
          </a>
        </div>
      </section>

      <section aria-labelledby="posts-by-category">
        <h2
          class="text-2xl pt-14 font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-3xl dark:text-white">
          Posts by category
        </h2>

        {categories?.map((category) => <CategoryPosts category={category} />)}
      </section>
    </main>
  </Container>
</Layout>
